package main

// install dep
//go:generate 'curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh'

// resolve dependencies
//go:generate dep ensure -v

// responsible for compiling proto and generating stub
//go:generate make -f definition/Makefile

// responsible for reading stub and creating place holders for implementation
//go:generate go run impl.go
// todo: change ^ run from cmdline
